%% -*- erlang -*-
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

{deps,
   [{pgapp, "~>0.0.1"},
    {lager, "~>3.2.0"},
    %%{dqe_idx, "~>0.2.0"}
    {dqe_idx, {git, "https://github.com/dalmatinerdb/dqe_idx.git", {branch, "time_range_update"}}}
   ]
}.

{profiles,
 [{lint,  [{plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.4"}}}]}]},
  {shell, [{deps, [sync]}]},
  {eqc,   [{erl_opts, [{d, 'TEST'}, debug_info, warnings_as_errors, {parse_transform, lager_transform}]},
           {deps, [meck]}, {plugins, [rebar_eqc]}]}]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

{dialyzer, [{warnings, [underspecs]}]}.
