%% -*- erlang -*-
[{dqe_idx, [{lookup_module, dqe_idx_pg}]},
 {dqe_idx_pg,
  [{server, {"127.0.0.1", 5432}},
   {size, 1},
   {max_overflow, 0},
   {database, "metric_metadata_v2"},
   {username, "ddb"},
   {password, "ddb"}]}].
